parameters:
	level: 6
	paths:
		- upload-from-phone.php
		- inc/
		- templates/
	scanFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
	treatPhpDocTypesAsCertain: false
